@inherits LayoutComponentBase

<div class="app-wrapper">
    @Body
</div>

<div id="blazor-error-ui" style="display:none">
    <i class="fa fa-exclamation-triangle"></i>
    Error de conexion. <a href="" class="reload">Recargar</a>
    <a class="dismiss" onclick="this.parentElement.style.display='none'">X</a>
</div>
