@using Microsoft.AspNetCore.Components.Web
@namespace ANews.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <title>AgenteNews</title>
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="manifest" href="manifest.json" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui" style="display:none">
        Se ha producido un error.
        <a href="" class="reload">Recargar</a>
        <a class="dismiss">X</a>
    </div>
    <script src="_framework/blazor.server.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <script src="js/universe.js"></script>
    <script src="js/admin.js"></script>
</body>
</html>
